.btn {
  border-width: 1px;
}
img,
.card-wrap,
.card-wrapper,
.video-wrapper,
.mbr-figure iframe,
.google-map iframe,
.slide-content,
.plan,
.card,
.image-wrap,
.item-wrapper {
  border-radius: 1rem !important;
}
.video-wrapper {
  overflow: hidden;
}
body {
  font-family: Plus Jakarta Sans;
}
.display-1 {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 6rem;
  line-height: 1;
}
.display-1 > .mbr-iconfont {
  font-size: 7.5rem;
}
.display-2 {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 4rem;
  line-height: 1;
}
.display-2 > .mbr-iconfont {
  font-size: 5rem;
}
.display-4 {
  font-family: 'Inter', sans-serif;
  font-size: 1.3rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.625rem;
}
.display-5 {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-7 {
  font-family: 'Inter', sans-serif;
  font-size: 1.5rem;
  line-height: 1.3;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 4.2rem;
    font-size: calc( 2.75rem + (6 - 2.75) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.75rem + (6 - 2.75) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 3.2rem;
    font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 1.04rem;
    font-size: calc( 1.105rem + (1.3 - 1.105) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.105rem + (1.3 - 1.105) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
}
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.6rem;
  }
}
@media (max-width: 767px) {
  .display-1 {
    font-size: 2.4rem;
  }
}
@media (min-width: 992px) and (max-width: 1400px) {
  .display-1 {
    font-size: 4.2rem;
    font-size: calc( 2.75rem + (6 - 2.75) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.1 * (2.75rem + (6 - 2.75) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-2 {
    font-size: 3.2rem;
    font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.3 * (2.05rem + (4 - 2.05) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-4 {
    font-size: 1.04rem;
    font-size: calc( 1.105rem + (1.3 - 1.105) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.105rem + (1.3 - 1.105) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-7 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 62rem) / (87 - 62))));
  }
}
/* Buttons */
.btn {
  padding: 1.25rem 2rem;
  border-radius: 4px;
  padding: 0.75rem 1.5rem;
}
.btn-sm {
  padding: 0.8rem 1.6rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #ffbf31 !important;
}
.bg-success {
  background-color: #3a341c !important;
}
.bg-info {
  background-color: #d70081 !important;
}
.bg-warning {
  background-color: #a0e2e1 !important;
}
.bg-danger {
  background-color: #ffea64 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #ffbf31 !important;
  border-color: #ffbf31 !important;
  color: #312200 !important;
  box-shadow: none;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: inherit;
  background-color: #ffcf64 !important;
  border-color: #ffcf64 !important;
  box-shadow: none;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #312200 !important;
  background-color: #ffcf64 !important;
  border-color: #ffcf64 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ffd7ef !important;
  border-color: #ffd7ef !important;
  color: #d70081 !important;
  box-shadow: none;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: inherit;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: none;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #d70081 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-info,
.btn-info:active {
  background-color: #d70081 !important;
  border-color: #d70081 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: inherit;
  background-color: #ff0b9d !important;
  border-color: #ff0b9d !important;
  box-shadow: none;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #ff0b9d !important;
  border-color: #ff0b9d !important;
}
.btn-success,
.btn-success:active {
  background-color: #3a341c !important;
  border-color: #3a341c !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: inherit;
  background-color: #5c532d !important;
  border-color: #5c532d !important;
  box-shadow: none;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #5c532d !important;
  border-color: #5c532d !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #a0e2e1 !important;
  border-color: #a0e2e1 !important;
  color: #1f6463 !important;
  box-shadow: none;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: inherit;
  background-color: #c7eeed !important;
  border-color: #c7eeed !important;
  box-shadow: none;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #1f6463 !important;
  background-color: #c7eeed !important;
  border-color: #c7eeed !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ffea64 !important;
  border-color: #ffea64 !important;
  color: #645600 !important;
  box-shadow: none;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: inherit;
  background-color: #fff197 !important;
  border-color: #fff197 !important;
  box-shadow: none;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #645600 !important;
  background-color: #fff197 !important;
  border-color: #fff197 !important;
}
.btn-white,
.btn-white:active {
  background-color: #eff0ec !important;
  border-color: #eff0ec !important;
  color: #757b62 !important;
  box-shadow: none;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: inherit;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: none;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #757b62 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: inherit;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
  box-shadow: none;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
}
.btn-primary-outline {
  color: #312200 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #ffbf31;
  color: #ffbf31;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #312200 !important;
  background-color: #ffbf31 !important;
  border-color: #ffbf31 !important;
  box-shadow: none !important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #312200 !important;
  background-color: #ffbf31 !important;
  border-color: #ffbf31 !important;
}
.btn-secondary-outline {
  color: #d70081 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #ffd7ef;
  color: #ffd7ef;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #d70081 !important;
  background-color: #ffd7ef !important;
  border-color: #ffd7ef !important;
  box-shadow: none !important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #d70081 !important;
  background-color: #ffd7ef !important;
  border-color: #ffd7ef !important;
}
.btn-info-outline {
  color: #ffffff !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #d70081;
  color: #d70081;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff !important;
  background-color: #d70081 !important;
  border-color: #d70081 !important;
  box-shadow: none !important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #d70081 !important;
  border-color: #d70081 !important;
}
.btn-success-outline {
  color: #ffffff !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #3a341c;
  color: #3a341c;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #ffffff !important;
  background-color: #3a341c !important;
  border-color: #3a341c !important;
  box-shadow: none !important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #3a341c !important;
  border-color: #3a341c !important;
}
.btn-warning-outline {
  color: #1f6463 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #a0e2e1;
  color: #a0e2e1;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #1f6463 !important;
  background-color: #a0e2e1 !important;
  border-color: #a0e2e1 !important;
  box-shadow: none !important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #1f6463 !important;
  background-color: #a0e2e1 !important;
  border-color: #a0e2e1 !important;
}
.btn-danger-outline {
  color: #645600 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #ffea64;
  color: #ffea64;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #645600 !important;
  background-color: #ffea64 !important;
  border-color: #ffea64 !important;
  box-shadow: none !important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #645600 !important;
  background-color: #ffea64 !important;
  border-color: #ffea64 !important;
}
.btn-black-outline {
  color: #ffffff !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
  box-shadow: none !important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline {
  color: #7a7a7a !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  box-shadow: none !important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #ffbf31 !important;
}
.text-secondary {
  color: #ffd7ef !important;
}
.text-success {
  color: #3a341c !important;
}
.text-info {
  color: #d70081 !important;
}
.text-warning {
  color: #a0e2e1 !important;
}
.text-danger {
  color: #ffea64 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #ca8b00 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #ff71c6 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #000000 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #710044 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #52cac8 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #fddb00 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  transition: 0.2s;
  position: relative;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0 1.2em;
}
.nav-tabs .nav-link.active {
  color: #ffbf31;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #d70081;
}
.alert-warning {
  background-color: #a0e2e1;
}
.alert-danger {
  background-color: #ffea64;
}
.mbr-section-btn .btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #ffbf31;
  border-color: #ffbf31;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #ffbf31;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #fffefd;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #c0b27c;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffa4db;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
#scrollToTop a {
  border-radius: 100px;
}
.form-control {
  font-family: 'Inter', sans-serif;
  font-size: 1.5rem;
  line-height: 1.3;
  font-weight: 400;
  border-radius: 40px !important;
}
.form-control > .mbr-iconfont {
  font-size: 1.5rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #ffbf31 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Inter', sans-serif;
  font-size: 1.5rem;
  line-height: 1.3;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.5rem;
}
blockquote {
  border-color: #ffbf31;
}
/* Forms */
.mbr-form .input-group-btn .btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn .btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #ffbf31;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #ffbf31;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #232323;
  border-bottom-color: #232323;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #ffbf31;
  border-bottom-color: #ffbf31;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #ffbf31 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ffd7ef !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23ffbf31' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-u442pZ3I2M {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url("../../../assets/images/background1.jpg");
}
.cid-u442pZ3I2M .mbr-fallback-image.disabled {
  display: none;
}
.cid-u442pZ3I2M .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 992px) and (max-width: 992px) {
  .cid-u442pZ3I2M .container {
    padding: 0 24px;
  }
}
@media (min-width: 992px) {
  .cid-u442pZ3I2M .row {
    margin: 0;
  }
}
.cid-u442pZ3I2M .row .card {
  border-top: 1px solid #72716b;
  padding: 0;
  border-radius: 0 !important;
}
@media (max-width: 992px) {
  .cid-u442pZ3I2M .row .card {
    padding: 0 16px;
    border: none;
  }
}
.cid-u442pZ3I2M .content-wrapper {
  padding: 32px;
  position: sticky;
  top: 0;
}
@media (max-width: 992px) {
  .cid-u442pZ3I2M .content-wrapper {
    padding: 24px;
  }
}
.cid-u442pZ3I2M .content-wrapper .mbr-section-title {
  margin-bottom: 16px;
}
@media (max-width: 992px) {
  .cid-u442pZ3I2M .content-wrapper .mbr-section-title {
    text-align: left;
  }
}
.cid-u442pZ3I2M .content-wrapper .mbr-text {
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .cid-u442pZ3I2M .content-wrapper .mbr-text {
    text-align: left;
  }
}
.cid-u442pZ3I2M .content-wrapper .mbr-section-btn {
  margin-top: 32px;
}
@media (max-width: 992px) {
  .cid-u442pZ3I2M .content-wrapper .mbr-section-btn {
    text-align: left;
    margin-top: 24px;
  }
}
.cid-u442pZ3I2M .items {
  border-left: 1px solid #72716b;
}
@media (max-width: 992px) {
  .cid-u442pZ3I2M .items {
    border-top: 1px solid #72716b;
  }
}
.cid-u442pZ3I2M .items .item {
  padding: 32px;
  border-bottom: 1px solid #72716b;
}
@media (max-width: 992px) {
  .cid-u442pZ3I2M .items .item {
    padding: 24px;
  }
}
.cid-u442pZ3I2M .items .item:last-child {
  border: none;
}
.cid-u442pZ3I2M .items .item .item-wrapper .card-box .title-wrapper {
  margin-bottom: 8px;
}
.cid-u442pZ3I2M .items .item .item-wrapper .card-box .title-wrapper .title-wrap {
  display: inline-flex;
}
.cid-u442pZ3I2M .items .item .item-wrapper .card-box .title-wrapper .title-wrap .card-title {
  margin-bottom: 0;
}
.cid-u442pZ3I2M .items .item .item-wrapper .card-box .title-wrapper .title-wrap .card-number {
  margin: 0 0 0 8px;
  min-width: 22px;
}
.cid-u442pZ3I2M .mbr-section-title {
  color: #F9F6E0;
}
.cid-u442pZ3I2M .mbr-text {
  color: #F9F6E0;
  text-align: right;
}
.cid-u442pZ3I2M .card-title {
  color: #F9F6E0;
}
.cid-u442pZ3I2M .card-number {
  color: #E0B548;
}
.cid-u442pZ3I2M .card-text {
  color: #F9F6E0;
}
.cid-u442pZ3I2M .mbr-section-title,
.cid-u442pZ3I2M .mbr-section-btn {
  text-align: right;
}
.cid-u4gqi30GtJ {
  padding-top: 0px;
  padding-bottom: 0px;
  background: linear-gradient(0deg, #554d4f, #232323);
}
.cid-u4gqi30GtJ .news {
  width: 250px;
  background-color: #123794;
  height: 31px;
}
.cid-u4gqi30GtJ .news-scroll a {
  text-decoration: none;
}
.cid-u4gqi30GtJ .dot {
  height: 6px;
  width: 6px;
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 2px !important;
  background-color: #3a341c;
  border-radius: 50%;
  display: inline-block;
}
.cid-u4gqi30GtJ DIV {
  color: #ffffff;
}
.cid-u4gqi30GtJ .mbr-text {
  color: #030303;
}
.cid-u4gqi30GtJ .mbr-section-subtitle {
  color: #ffffff;
}
.cid-u442tj4rGy {
  padding-top: 0rem;
  padding-bottom: 5rem;
  background-image: url("../../../assets/images/background1.jpg");
}
.cid-u442tj4rGy .mbr-fallback-image.disabled {
  display: none;
}
.cid-u442tj4rGy .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 992px) and (max-width: 992px) {
  .cid-u442tj4rGy .container {
    padding: 0 24px;
  }
}
.cid-u442tj4rGy .row {
  position: relative;
  padding: 32px;
  margin: 0;
}
@media (max-width: 992px) {
  .cid-u442tj4rGy .row {
    padding: 24px;
  }
}
.cid-u442tj4rGy .row::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: .1;
  border-radius: .5rem;
}
.cid-u442tj4rGy .row .card {
  padding: 0;
  border-radius: 0 !important;
}
@media (max-width: 992px) {
  .cid-u442tj4rGy .row .card {
    border: none;
  }
}
.cid-u442tj4rGy .content-wrapper {
  padding: 32px 32px 0 0;
  position: sticky;
  top: 0;
}
@media (max-width: 992px) {
  .cid-u442tj4rGy .content-wrapper {
    padding: 24px 0;
  }
}
.cid-u442tj4rGy .content-wrapper .mbr-section-title {
  margin-bottom: 16px;
}
@media (max-width: 992px) {
  .cid-u442tj4rGy .content-wrapper .mbr-section-title {
    text-align: left;
  }
}
.cid-u442tj4rGy .content-wrapper .mbr-desc {
  margin-bottom: 32px;
}
@media (max-width: 992px) {
  .cid-u442tj4rGy .content-wrapper .mbr-desc {
    margin-bottom: 24px;
    text-align: left;
  }
}
.cid-u442tj4rGy .content-wrapper .mbr-text {
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .cid-u442tj4rGy .content-wrapper .mbr-text {
    text-align: left;
  }
}
.cid-u442tj4rGy .content-wrapper .mbr-section-btn {
  margin-top: 32px;
}
@media (max-width: 992px) {
  .cid-u442tj4rGy .content-wrapper .mbr-section-btn {
    text-align: left;
    margin-top: 24px;
  }
}
.cid-u442tj4rGy .items {
  border-left: 1px solid #72716b;
}
.cid-u442tj4rGy .items .item {
  padding: 32px;
  border-bottom: 1px solid #72716b;
}
@media (max-width: 992px) {
  .cid-u442tj4rGy .items .item {
    padding: 24px;
  }
}
.cid-u442tj4rGy .items .item:last-child {
  border: none;
}
.cid-u442tj4rGy .items .item .item-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 992px) {
  .cid-u442tj4rGy .items .item .item-wrapper {
    display: block;
  }
}
.cid-u442tj4rGy .items .item .item-wrapper .item-img {
  background-color: #f9f6e0;
  border-radius: .5rem;
  margin-right: 48px;
}
@media (max-width: 992px) {
  .cid-u442tj4rGy .items .item .item-wrapper .item-img {
    margin: 0 0 24px 0;
  }
}
.cid-u442tj4rGy .items .item .item-wrapper .item-img img {
  width: 150px;
  height: 120px;
  object-fit: contain;
  margin: 0 auto;
}
.cid-u442tj4rGy .items .item .item-wrapper .item-content .card-title {
  margin-bottom: 8px;
}
.cid-u442tj4rGy .items .item .item-wrapper .item-content .card-text {
  margin-bottom: 0;
}
.cid-u442tj4rGy .mbr-section-title {
  color: #F9F6E0;
}
.cid-u442tj4rGy .mbr-desc {
  color: #E0B548;
  text-align: right;
}
.cid-u442tj4rGy .mbr-text {
  color: #F9F6E0;
  text-align: right;
}
.cid-u442tj4rGy .card-title {
  color: #F9F6E0;
}
.cid-u442tj4rGy .card-text {
  color: #F9F6E0;
}
.cid-u442tj4rGy .mbr-section-title,
.cid-u442tj4rGy .mbr-section-btn {
  text-align: right;
}
.cid-u4goBHaqol {
  padding-top: 0px;
  padding-bottom: 0px;
  background: linear-gradient(0deg, #554d4f, #232323);
}
.cid-u4goBHaqol .news {
  width: 250px;
  background-color: #123794;
  height: 31px;
}
.cid-u4goBHaqol .news-scroll a {
  text-decoration: none;
}
.cid-u4goBHaqol .dot {
  height: 6px;
  width: 6px;
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 2px !important;
  background-color: #d20320;
  border-radius: 50%;
  display: inline-block;
}
.cid-u4goBHaqol DIV {
  color: #ffffff;
}
.cid-u4goBHaqol .mbr-text {
  color: #030303;
}
.cid-u4goBHaqol .mbr-section-subtitle {
  color: #ffffff;
}
.cid-u442w8trhB {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url("../../../assets/images/background1.jpg");
}
.cid-u442w8trhB .mbr-fallback-image.disabled {
  display: none;
}
.cid-u442w8trhB .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 992px) and (max-width: 992px) {
  .cid-u442w8trhB .container {
    padding: 0 24px;
  }
}
@media (max-width: 992px) {
  .cid-u442w8trhB .row {
    border: none;
  }
}
.cid-u442w8trhB .content-wrapper {
  padding: 0 32px 32px;
}
@media (max-width: 992px) {
  .cid-u442w8trhB .content-wrapper {
    padding: 0 24px 24px;
  }
}
.cid-u442w8trhB .content-wrapper .mbr-section-title {
  margin-bottom: 16px;
}
@media (max-width: 992px) {
  .cid-u442w8trhB .content-wrapper .mbr-section-title {
    text-align: left;
  }
}
.cid-u442w8trhB .content-wrapper .mbr-text {
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .cid-u442w8trhB .content-wrapper .mbr-text {
    text-align: left;
  }
}
.cid-u442w8trhB .panel-group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
@media (max-width: 992px) {
  .cid-u442w8trhB .panel-group {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 768px) {
  .cid-u442w8trhB .panel-group {
    display: block;
  }
}
.cid-u442w8trhB .panel-group .card {
  padding: 32px;
  border-top: 1px solid #72716b;
  border-right: 1px solid #72716b;
  border-radius: 0 !important;
  justify-content: center;
  align-items: center;
  min-height: 300px;
}
.cid-u442w8trhB .panel-group .card:nth-child(3n) {
  border-right: none;
}
@media (max-width: 992px) {
  .cid-u442w8trhB .panel-group .card {
    padding: 24px;
    border-right: 1px solid #72716b !important;
  }
  .cid-u442w8trhB .panel-group .card:nth-child(2n) {
    border-right: none !important;
  }
}
@media (max-width: 768px) {
  .cid-u442w8trhB .panel-group .card {
    min-height: 200px;
    border-right: none !important;
  }
}
.cid-u442w8trhB .panel-group .card .card-header {
  padding: 0;
  border: none;
  background-color: transparent;
}
.cid-u442w8trhB .panel-group .card .card-header .panel-title {
  display: block;
}
.cid-u442w8trhB .panel-group .card .card-header .panel-title:not(.collapsed) .panel-title-edit {
  color: #e0b548;
}
.cid-u442w8trhB .panel-group .card .card-header .panel-title:hover .panel-title-edit {
  color: #e0b548;
}
.cid-u442w8trhB .panel-group .card .card-header .panel-title .panel-title-edit {
  transition: all 0.3s ease-in-out;
  margin: 0;
}
.cid-u442w8trhB .panel-group .card .panel-collapse .panel-body {
  padding-top: 8px;
}
.cid-u442w8trhB .panel-group .card .panel-collapse .panel-body .panel-text {
  margin-bottom: 0;
}
.cid-u442w8trhB .mbr-section-title {
  color: #F9F6E0;
}
.cid-u442w8trhB .mbr-text {
  color: #F9F6E0;
}
.cid-u442w8trhB .panel-title-edit {
  color: #F9F6E0;
}
.cid-u442w8trhB .panel-text {
  color: #F9F6E0;
}
.cid-u4gqMTxsjb {
  padding-top: 0px;
  padding-bottom: 0px;
  background: linear-gradient(0deg, #ffc036, #ffc036);
}
.cid-u4gqMTxsjb .news {
  width: 250px;
  background-color: #123794;
  height: 31px;
}
.cid-u4gqMTxsjb .news-scroll a {
  text-decoration: none;
}
.cid-u4gqMTxsjb .dot {
  height: 6px;
  width: 6px;
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 2px !important;
  background-color: #d20320;
  border-radius: 50%;
  display: inline-block;
}
.cid-u4gqMTxsjb DIV {
  color: #ffffff;
}
.cid-u4gqMTxsjb .mbr-text {
  color: #030303;
}
.cid-u4gqMTxsjb .mbr-section-subtitle {
  color: #ffffff;
}
.cid-u4gooh6zCY {
  padding-top: 4rem;
  padding-bottom: 3rem;
  background: linear-gradient(to bottom, #ffbf31, #ffffff);
}
.cid-u4gooh6zCY .item-subtitle {
  line-height: 1.2;
  color: #232323;
}
.cid-u4gooh6zCY .item-title {
  border-bottom: 1px solid currentColor;
  color: #232323;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}
.cid-u4gooh6zCY img,
.cid-u4gooh6zCY .item-img {
  width: 100%;
  height: 100%;
  height: 400px;
  object-fit: cover;
}
.cid-u4gooh6zCY .item:focus,
.cid-u4gooh6zCY span:focus {
  outline: none;
}
.cid-u4gooh6zCY .item {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-u4gooh6zCY .item {
    margin-bottom: 1rem;
  }
}
.cid-u4gooh6zCY .item-wrapper {
  position: relative;
  border-radius: 4px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cid-u4gooh6zCY .mbr-section-title {
  color: #232323;
}
.cid-u4gooh6zCY .mbr-text,
.cid-u4gooh6zCY .mbr-section-btn {
  color: #232323;
}
.cid-u4gooh6zCY .content-head {
  max-width: 800px;
}
.cid-u442xv1Zto {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url("../../../assets/images/background1.jpg");
}
.cid-u442xv1Zto .mbr-fallback-image.disabled {
  display: none;
}
.cid-u442xv1Zto .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 992px) and (max-width: 992px) {
  .cid-u442xv1Zto .container {
    padding: 0 24px;
  }
}
@media (min-width: 992px) {
  .cid-u442xv1Zto .row {
    margin: 0;
  }
}
.cid-u442xv1Zto .row .card {
  padding: 0;
  border-radius: 0 !important;
}
@media (max-width: 992px) {
  .cid-u442xv1Zto .row .card {
    padding: 0 16px;
  }
}
.cid-u442xv1Zto .title-wrapper .mbr-section-title {
  padding: 0 32px 32px;
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .cid-u442xv1Zto .title-wrapper .mbr-section-title {
    padding: 0 24px 24px;
  }
}
.cid-u442xv1Zto .content-wrapper {
  padding: 32px;
  position: sticky;
  top: 0;
  border-top: 1px solid #72716b;
}
@media (max-width: 992px) {
  .cid-u442xv1Zto .content-wrapper {
    padding: 24px;
    border-top: none;
  }
}
.cid-u442xv1Zto .content-wrapper .mbr-section-subtitle {
  margin-bottom: 8px;
}
@media (max-width: 992px) {
  .cid-u442xv1Zto .content-wrapper .mbr-section-subtitle {
    text-align: left;
  }
}
.cid-u442xv1Zto .content-wrapper .mbr-text {
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .cid-u442xv1Zto .content-wrapper .mbr-text {
    text-align: left;
  }
}
.cid-u442xv1Zto .items {
  border-left: 1px solid #72716b;
  border-top: 1px solid #72716b;
}
@media (max-width: 992px) {
  .cid-u442xv1Zto .items {
    border-top: 1px solid #72716b;
  }
}
.cid-u442xv1Zto .items .item {
  padding: 32px;
  border-bottom: 1px solid #72716b;
}
@media (max-width: 992px) {
  .cid-u442xv1Zto .items .item {
    padding: 24px;
  }
}
.cid-u442xv1Zto .items .item:last-child {
  border: none;
}
.cid-u442xv1Zto .items .item .item-wrapper .card-box .card-title {
  margin-bottom: 8px;
}
.cid-u442xv1Zto .items .item .item-wrapper .card-box .card-text {
  margin-bottom: 0;
}
.cid-u442xv1Zto .image-wrapper {
  padding: 32px;
  border-top: 1px solid #72716b;
}
@media (max-width: 992px) {
  .cid-u442xv1Zto .image-wrapper {
    padding: 24px;
    border-top: none;
  }
}
.cid-u442xv1Zto .image-wrapper img {
  height: 350px;
  object-fit: cover;
}
.cid-u442xv1Zto .mbr-section-title {
  color: #F9F6E0;
}
.cid-u442xv1Zto .mbr-section-subtitle {
  color: #F9F6E0;
  text-align: right;
}
.cid-u442xv1Zto .mbr-text {
  color: #F9F6E0;
  text-align: right;
}
.cid-u442xv1Zto .card-title {
  color: #F9F6E0;
}
.cid-u442xv1Zto .card-text {
  color: #F9F6E0;
}
.cid-u442zb6Y2a {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url("../../../assets/images/background1.jpg");
}
.cid-u442zb6Y2a .mbr-fallback-image.disabled {
  display: none;
}
.cid-u442zb6Y2a .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 992px) and (max-width: 992px) {
  .cid-u442zb6Y2a .container {
    padding: 0 24px;
  }
}
@media (min-width: 992px) {
  .cid-u442zb6Y2a .row {
    margin: 0;
  }
}
.cid-u442zb6Y2a .row .card {
  padding: 0;
  border-radius: 0 !important;
}
.cid-u442zb6Y2a .row .card:nth-child(2) {
  border-left: 1px solid #72716b;
}
@media (max-width: 992px) {
  .cid-u442zb6Y2a .row .card:nth-child(2) {
    margin-bottom: 64px;
  }
}
.cid-u442zb6Y2a .row .card:nth-child(3) {
  border-top: 1px solid #72716b;
}
.cid-u442zb6Y2a .row .card:nth-child(4) {
  border-top: 1px solid #72716b;
  border-left: 1px solid #72716b;
}
@media (max-width: 992px) {
  .cid-u442zb6Y2a .row .card {
    padding: 0 16px;
    border: none !important;
  }
}
.cid-u442zb6Y2a .subtitle-wrap {
  height: 100%;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 992px) {
  .cid-u442zb6Y2a .subtitle-wrap {
    display: block;
  }
}
.cid-u442zb6Y2a .subtitle-wrap .mbr-section-subtitle {
  padding: 32px;
  writing-mode: tb;
  transform: rotate(180deg);
  margin: 0;
}
@media (max-width: 992px) {
  .cid-u442zb6Y2a .subtitle-wrap .mbr-section-subtitle {
    transform: rotate(0);
    writing-mode: horizontal-tb;
    padding: 24px;
    border-left: 1px solid #72716b;
    text-align: left;
  }
}
.cid-u442zb6Y2a .content-wrapper {
  padding: 32px;
}
@media (max-width: 992px) {
  .cid-u442zb6Y2a .content-wrapper {
    padding: 24px;
    border-top: 1px solid #72716b;
    border-left: 1px solid #72716b;
  }
}
.cid-u442zb6Y2a .content-wrapper .mbr-section-title {
  margin-bottom: 16px;
}
.cid-u442zb6Y2a .content-wrapper .mbr-text {
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .cid-u442zb6Y2a .content-wrapper .mbr-text {
    text-align: left;
  }
}
.cid-u442zb6Y2a .content-wrapper .mbr-section-btn {
  margin-top: 32px;
}
@media (max-width: 992px) {
  .cid-u442zb6Y2a .content-wrapper .mbr-section-btn {
    text-align: left;
    margin-top: 24px;
  }
}
.cid-u442zb6Y2a .content-wrapper .list {
  margin-top: 32px;
}
@media (max-width: 992px) {
  .cid-u442zb6Y2a .content-wrapper .list {
    margin-top: 24px;
  }
}
.cid-u442zb6Y2a .content-wrapper .list .item {
  margin-bottom: 24px;
}
.cid-u442zb6Y2a .content-wrapper .list .item .item-wrapper .card-box .title-wrapper {
  display: inline-flex;
  align-items: center;
}
.cid-u442zb6Y2a .content-wrapper .list .item .item-wrapper .card-box .title-wrapper .card-number {
  margin: 0 24px 0 0;
  color: transparent;
  -webkit-text-stroke: 1px #e0b548;
  -webkit-background-clip: text;
}
.cid-u442zb6Y2a .content-wrapper .list .item .item-wrapper .card-box .title-wrapper .card-title {
  margin-bottom: 0;
}
.cid-u442zb6Y2a .mbr-section-title {
  color: #F9F6E0;
}
.cid-u442zb6Y2a .mbr-section-subtitle {
  color: #E0B548;
  text-align: center;
}
.cid-u442zb6Y2a .mbr-text {
  color: #F9F6E0;
}
.cid-u442zb6Y2a .card-text {
  color: #F9F6E0;
}
.cid-u4456N9ybR {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-u4456N9ybR .mbr-section-number {
  border: 1px solid currentColor;
  border-radius: 2rem;
  padding: 2rem 2rem;
  color: #ffffff;
  width: fit-content;
  display: inline-block;
}
.cid-u4456N9ybR .item:focus,
.cid-u4456N9ybR span:focus {
  outline: none;
}
@media (max-width: 767px) {
  .cid-u4456N9ybR .align-right {
    text-align: center;
  }
}
.cid-u4456N9ybR .card-wrapper {
  background: #232323;
  padding: 4rem 3rem;
  padding-bottom: 2rem;
  margin: 0;
}
@media (max-width: 767px) {
  .cid-u4456N9ybR .card-wrapper {
    padding: 1rem 0rem;
  }
}
.cid-u4456N9ybR .item {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-u4456N9ybR .item {
    margin-bottom: 1rem;
  }
}
.cid-u4456N9ybR .mbr-card-title {
  background: #fed9e1;
  width: fit-content;
  border-radius: 1rem;
  padding: 6px 10px;
}
.cid-u4456N9ybR .item-content {
  margin-top: 2rem;
  padding: 0 2rem 2rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-u4456N9ybR .item-content {
    padding: 2rem 1.5rem;
    padding-top: 1rem;
    margin-top: 1rem;
  }
}
@media (max-width: 767px) {
  .cid-u4456N9ybR .item-content {
    padding: 1rem 1rem;
    padding-top: 0rem;
    margin-top: 1rem;
  }
}
.cid-u4456N9ybR .item-wrapper {
  position: relative;
  background: #3b3a3a;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cid-u4456N9ybR .item-wrapper .item-footer {
  margin-top: auto;
}
.cid-u4456N9ybR .mbr-section-title {
  color: #ffffff;
  text-align: left;
}
.cid-u4456N9ybR .mbr-text,
.cid-u4456N9ybR .item .mbr-section-btn {
  text-align: center;
}
.cid-u4456N9ybR .mbr-number {
  color: #f0466a;
}
.cid-u4456N9ybR .mbr-section-subtitle,
.cid-u4456N9ybR .mbr-section-head .mbr-section-btn {
  text-align: left;
  color: #ffffff;
}
.cid-u4456N9ybR .mbr-text {
  text-align: left;
}
.cid-u4456N9ybR .mbr-text,
.cid-u4456N9ybR .mbr-card-btn {
  text-align: left;
}
.cid-u4456N9ybR .mbr-text,
.cid-u4456N9ybR .mbr-section-btn {
  text-align: left;
}
.cid-u4456N9ybR .mbr-text,
.cid-u4456N9ybR .item-footer .mbr-section-btn {
  text-align: left;
}
.cid-u4456N9ybR .card-text,
.cid-u4456N9ybR .item .mbr-section-btn {
  text-align: left;
  color: #ffffff;
}
.cid-u4456N9ybR .card-title {
  text-align: left;
  color: #ffffff;
}
.cid-u3CeCBUuXW {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url("../../../assets/images/background1.jpg");
}
.cid-u3CeCBUuXW .mbr-fallback-image.disabled {
  display: none;
}
.cid-u3CeCBUuXW .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 992px) and (max-width: 992px) {
  .cid-u3CeCBUuXW .container {
    padding: 0 24px;
  }
}
@media (min-width: 992px) {
  .cid-u3CeCBUuXW .row {
    margin: 0;
  }
}
.cid-u3CeCBUuXW .row .card {
  padding: 0;
  border-radius: 0 !important;
}
@media (max-width: 992px) {
  .cid-u3CeCBUuXW .row .card {
    padding: 0 16px;
  }
}
.cid-u3CeCBUuXW .title-wrapper .mbr-section-title {
  padding: 0 32px 32px;
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .cid-u3CeCBUuXW .title-wrapper .mbr-section-title {
    padding: 0 24px 24px;
  }
}
.cid-u3CeCBUuXW .content-wrapper {
  padding: 32px;
  position: sticky;
  top: 0;
  border-top: 1px solid #72716b;
}
@media (max-width: 992px) {
  .cid-u3CeCBUuXW .content-wrapper {
    padding: 24px;
    border-top: none;
  }
}
.cid-u3CeCBUuXW .content-wrapper .mbr-section-subtitle {
  margin-bottom: 8px;
}
@media (max-width: 992px) {
  .cid-u3CeCBUuXW .content-wrapper .mbr-section-subtitle {
    text-align: left;
  }
}
.cid-u3CeCBUuXW .content-wrapper .mbr-text {
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .cid-u3CeCBUuXW .content-wrapper .mbr-text {
    text-align: left;
  }
}
.cid-u3CeCBUuXW .items {
  border-left: 1px solid #72716b;
  border-top: 1px solid #72716b;
}
@media (max-width: 992px) {
  .cid-u3CeCBUuXW .items {
    border-top: 1px solid #72716b;
  }
}
.cid-u3CeCBUuXW .items .item {
  padding: 32px;
  border-bottom: 1px solid #72716b;
}
@media (max-width: 992px) {
  .cid-u3CeCBUuXW .items .item {
    padding: 24px;
  }
}
.cid-u3CeCBUuXW .items .item:last-child {
  border: none;
}
.cid-u3CeCBUuXW .items .item .item-wrapper .card-box .card-title {
  margin-bottom: 8px;
}
.cid-u3CeCBUuXW .items .item .item-wrapper .card-box .card-text {
  margin-bottom: 0;
}
.cid-u3CeCBUuXW .image-wrapper {
  padding: 32px;
  border-top: 1px solid #72716b;
}
@media (max-width: 992px) {
  .cid-u3CeCBUuXW .image-wrapper {
    padding: 24px;
    border-top: none;
  }
}
.cid-u3CeCBUuXW .image-wrapper img {
  height: 350px;
  object-fit: cover;
}
.cid-u3CeCBUuXW .mbr-section-title {
  color: #F9F6E0;
}
.cid-u3CeCBUuXW .mbr-section-subtitle {
  color: #F9F6E0;
  text-align: right;
}
.cid-u3CeCBUuXW .mbr-text {
  color: #F9F6E0;
  text-align: right;
}
.cid-u3CeCBUuXW .card-title {
  color: #F9F6E0;
}
.cid-u3CeCBUuXW .card-text {
  color: #F9F6E0;
}
.cid-u3CeFfo62N {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url("../../../assets/images/background1.jpg");
}
.cid-u3CeFfo62N .mbr-fallback-image.disabled {
  display: none;
}
.cid-u3CeFfo62N .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 992px) and (max-width: 992px) {
  .cid-u3CeFfo62N .container {
    padding: 0 24px;
  }
}
@media (min-width: 992px) {
  .cid-u3CeFfo62N .row {
    margin: 0;
  }
}
.cid-u3CeFfo62N .row .card {
  border-top: 1px solid #72716b;
  padding: 0;
  border-radius: 0 !important;
}
@media (max-width: 992px) {
  .cid-u3CeFfo62N .row .card {
    padding: 0 16px;
    border: none;
  }
}
.cid-u3CeFfo62N .content-wrapper {
  padding: 32px;
  position: sticky;
  top: 0;
}
@media (max-width: 992px) {
  .cid-u3CeFfo62N .content-wrapper {
    padding: 24px;
  }
}
.cid-u3CeFfo62N .content-wrapper .mbr-section-title {
  margin-bottom: 16px;
}
@media (max-width: 992px) {
  .cid-u3CeFfo62N .content-wrapper .mbr-section-title {
    text-align: left;
  }
}
.cid-u3CeFfo62N .content-wrapper .mbr-text {
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .cid-u3CeFfo62N .content-wrapper .mbr-text {
    text-align: left;
  }
}
.cid-u3CeFfo62N .content-wrapper .mbr-section-btn {
  margin-top: 32px;
}
@media (max-width: 992px) {
  .cid-u3CeFfo62N .content-wrapper .mbr-section-btn {
    text-align: left;
    margin-top: 24px;
  }
}
.cid-u3CeFfo62N .items {
  border-left: 1px solid #72716b;
}
@media (max-width: 992px) {
  .cid-u3CeFfo62N .items {
    border-top: 1px solid #72716b;
  }
}
.cid-u3CeFfo62N .items .item {
  padding: 32px;
  border-bottom: 1px solid #72716b;
}
@media (max-width: 992px) {
  .cid-u3CeFfo62N .items .item {
    padding: 24px;
  }
}
.cid-u3CeFfo62N .items .item:last-child {
  border: none;
}
.cid-u3CeFfo62N .items .item .item-wrapper .card-box .title-wrapper {
  margin-bottom: 8px;
}
.cid-u3CeFfo62N .items .item .item-wrapper .card-box .title-wrapper .title-wrap {
  display: inline-flex;
}
.cid-u3CeFfo62N .items .item .item-wrapper .card-box .title-wrapper .title-wrap .card-title {
  margin-bottom: 0;
}
.cid-u3CeFfo62N .items .item .item-wrapper .card-box .title-wrapper .title-wrap .card-number {
  margin: 0 0 0 8px;
  min-width: 22px;
}
.cid-u3CeFfo62N .mbr-section-title {
  color: #F9F6E0;
}
.cid-u3CeFfo62N .mbr-text {
  color: #F9F6E0;
  text-align: right;
}
.cid-u3CeFfo62N .card-title {
  color: #F9F6E0;
}
.cid-u3CeFfo62N .card-number {
  color: #E0B548;
}
.cid-u3CeFfo62N .card-text {
  color: #F9F6E0;
}
.cid-u3CeFfo62N .mbr-section-title,
.cid-u3CeFfo62N .mbr-section-btn {
  text-align: right;
}
.cid-u3CeE4n8ug {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url("../../../assets/images/background1.jpg");
}
.cid-u3CeE4n8ug .mbr-fallback-image.disabled {
  display: none;
}
.cid-u3CeE4n8ug .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 992px) and (max-width: 992px) {
  .cid-u3CeE4n8ug .container {
    padding: 0 24px;
  }
}
.cid-u3CeE4n8ug .row {
  position: relative;
  padding: 32px;
  margin: 0;
}
@media (max-width: 992px) {
  .cid-u3CeE4n8ug .row {
    padding: 24px;
  }
}
.cid-u3CeE4n8ug .row::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: .1;
  border-radius: .5rem;
}
.cid-u3CeE4n8ug .row .card {
  padding: 0;
  border-radius: 0 !important;
}
@media (max-width: 992px) {
  .cid-u3CeE4n8ug .row .card {
    border: none;
  }
}
.cid-u3CeE4n8ug .content-wrapper {
  padding: 32px 32px 0 0;
  position: sticky;
  top: 0;
}
@media (max-width: 992px) {
  .cid-u3CeE4n8ug .content-wrapper {
    padding: 24px 0;
  }
}
.cid-u3CeE4n8ug .content-wrapper .mbr-section-title {
  margin-bottom: 16px;
}
@media (max-width: 992px) {
  .cid-u3CeE4n8ug .content-wrapper .mbr-section-title {
    text-align: left;
  }
}
.cid-u3CeE4n8ug .content-wrapper .mbr-desc {
  margin-bottom: 32px;
}
@media (max-width: 992px) {
  .cid-u3CeE4n8ug .content-wrapper .mbr-desc {
    margin-bottom: 24px;
    text-align: left;
  }
}
.cid-u3CeE4n8ug .content-wrapper .mbr-text {
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .cid-u3CeE4n8ug .content-wrapper .mbr-text {
    text-align: left;
  }
}
.cid-u3CeE4n8ug .content-wrapper .mbr-section-btn {
  margin-top: 32px;
}
@media (max-width: 992px) {
  .cid-u3CeE4n8ug .content-wrapper .mbr-section-btn {
    text-align: left;
    margin-top: 24px;
  }
}
.cid-u3CeE4n8ug .items {
  border-left: 1px solid #72716b;
}
.cid-u3CeE4n8ug .items .item {
  padding: 32px;
  border-bottom: 1px solid #72716b;
}
@media (max-width: 992px) {
  .cid-u3CeE4n8ug .items .item {
    padding: 24px;
  }
}
.cid-u3CeE4n8ug .items .item:last-child {
  border: none;
}
.cid-u3CeE4n8ug .items .item .item-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 992px) {
  .cid-u3CeE4n8ug .items .item .item-wrapper {
    display: block;
  }
}
.cid-u3CeE4n8ug .items .item .item-wrapper .item-img {
  background-color: #f9f6e0;
  border-radius: .5rem;
  margin-right: 48px;
}
@media (max-width: 992px) {
  .cid-u3CeE4n8ug .items .item .item-wrapper .item-img {
    margin: 0 0 24px 0;
  }
}
.cid-u3CeE4n8ug .items .item .item-wrapper .item-img img {
  width: 150px;
  height: 120px;
  object-fit: contain;
  margin: 0 auto;
}
.cid-u3CeE4n8ug .items .item .item-wrapper .item-content .card-title {
  margin-bottom: 8px;
}
.cid-u3CeE4n8ug .items .item .item-wrapper .item-content .card-text {
  margin-bottom: 0;
}
.cid-u3CeE4n8ug .mbr-section-title {
  color: #F9F6E0;
}
.cid-u3CeE4n8ug .mbr-desc {
  color: #E0B548;
  text-align: right;
}
.cid-u3CeE4n8ug .mbr-text {
  color: #F9F6E0;
  text-align: right;
}
.cid-u3CeE4n8ug .card-title {
  color: #F9F6E0;
}
.cid-u3CeE4n8ug .card-text {
  color: #F9F6E0;
}
.cid-u3CeE4n8ug .mbr-section-title,
.cid-u3CeE4n8ug .mbr-section-btn {
  text-align: right;
}
.cid-u3HkYut1n4 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-u3HkYut1n4 .mbr-fallback-image.disabled {
  display: none;
}
.cid-u3HkYut1n4 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-u3HkYut1n4 .item-wrapper {
  display: flex;
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-u3HkYut1n4 .item-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-u3HkYut1n4 .img-wrapper {
  width: 10rem;
  padding-right: 1.5rem;
}
.cid-u3HkYut1n4 .content-head {
  max-width: 800px;
}
.cid-u3Hm0i5hX2 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-u3Hm0i5hX2 .card-wrapper {
  display: flex;
  padding-bottom: 2rem;
}
.cid-u3Hm0i5hX2 .card-wrapper:hover .card-title {
  color: #ffd7ef;
}
.cid-u3Hm0i5hX2 .col1 span {
  padding-right: 1.5rem;
}
.cid-u3Hm0i5hX2 .col2 span {
  padding-left: 1.5rem;
}
.cid-u3Hm0i5hX2 .card-title {
  transition: all 0.3s;
}
.cid-u3Hm0i5hX2 .mbr-iconfont {
  font-size: 2rem;
  padding-top: 0.5rem;
  color: #ffd7ef;
}
@media (max-width: 992px) {
  .cid-u3Hm0i5hX2 .card-wrapper {
    flex-direction: column;
    text-align: center;
  }
  .cid-u3Hm0i5hX2 span {
    padding: 0!important;
    margin-bottom: 1rem;
  }
  .cid-u3Hm0i5hX2 .col2 .card-wrapper {
    flex-direction: column-reverse;
  }
}
.cid-u3Hm0i5hX2 .card-text {
  color: #616161;
}
.cid-u3Hm0i5hX2 .mbr-fallback-image.disabled {
  display: none;
}
.cid-u3Hm0i5hX2 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-u3HmyoeSqA {
  padding-top: 120px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/background10.jpg");
}
.cid-u3HmyoeSqA .media-content .btn-bgr {
  z-index: 0;
}
.cid-u3HmyoeSqA .mbr-overlay {
  background: linear-gradient(90deg, #52e2dd, #8120c9);
}
@media (min-width: 992px) {
  .cid-u3HmyoeSqA .media-content {
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
}
@media (max-width: 991px) {
  .cid-u3HmyoeSqA {
    text-align: center !important;
  }
  .cid-u3HmyoeSqA .mbr-text {
    text-align: center;
  }
}
.cid-u3HmyoeSqA .media-container-row {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.cid-u3HmyoeSqA .mbr-fallback-image.disabled {
  display: none;
}
.cid-u3HmyoeSqA .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
